html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}
#root {
  display: flex;
  padding: 24px;
  justify-content: center;
  @media screen and (max-width: 500px) {
    padding: 16px;
  }
}

.app-container {
  width: 100%;
  max-width: 900px;
  min-height: 100px;
  margin-bottom: 100px;
}

.save-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.form-save {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--color-primary);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &::after {
    content: '◜';
    font-size: 28px;
    position: absolute;
    inset: 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: none;
    justify-content: center;
    align-items: center;
    animation: loading 0.3s infinite;
  }
  &.laoding::after {
    display: flex;
  }
}